@charset "utf-8";
/* CSS Document */

.sponsor {

	text-align: justify;
	border: 1px solid #cccccc;
	padding: 10px;
	margin: 10px 0px;	
	
}

.center_content_contain {

	width: 100%;	
	text-align: center;
}


.central_text {
	
	text-align: center;	
	
}

.clearfloat {
	
	clear:both;	
	
}


.footer_p {

	font-size: 12px;
	text-align: center;
	
}