@charset "utf-8";
/* CSS Document */



.center_content_contain {

	width: 100%;	
	text-align: center;
}


.central_text {
	
	text-align: center;	
	
}

.footer_p {

	font-size: 12px;
	text-align: center;
	
}